.Footer{
    background-color: black;
    opacity: 0.8;
    height: 300px;
}

.Footer > p{
    color: white;
}

.footer-links {
    width: 50%;
    float: right;
    text-align: right; /* Align the text to the right */
  }
  
  .footer-links ul {
    display: flex;
    justify-content: flex-end; /* Align the list items to the right */
  }
  
  .footer-links ul li {
    list-style: none;
  }
  
  .footer-links ul li a {
    color: white;
    font-weight: 350;
    font-size: 0.8rem;
    margin-left: 5px;
  }
  
  
  
  
  
  