.chat-message {
    margin: 10px 25px 20px;
    /* background-color: rgb(168, 194, 151); */
    background-color: var(--color-primary);
    border-radius: 50px;
    width: 75%;
}

.chat-message.me {
    margin-left: auto;
}

.chat-message.gpt {
    border: 0 solid #d9d9e3;
    /* background-color: black; */
    background-color: rgb(208, 208, 209);
    /* margin-right: auto; */
}

.chat-message-center {
    display: flex;
    align-items: flex-end;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.chat-message-center.me {
    flex-direction: row-reverse;
}

.chat-message-box {
    display: flex;
    max-width: 750px;
    overflow: auto;
}

.avatar {
    background: rgb(83, 147, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.avatar.gpt {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.message {
    text-align: left;
    padding-left: 12px;
    max-width: 640px;
    padding-right: 12px;
}
