.distance{
    width: 200px;
}
.social{
    margin-top: 25px;
    margin-bottom: 5px;
}
.line{
    margin-top: 0px;
    margin-bottom: 12px;
}
.movepage{
    margin-top: 20px;
    font-size: 16px;
}
.link{
    margin-top: 15px;
    margin-bottom: 15px;
}
.socialbutton{
    margin-bottom: 16px;
}